# Build and cache
bin/
obj/
*.cache
*.AssemblyInfoInputs.cache
# Ignore generated AssemblyInfo fragments
**/AssemblyInfo*.cs
**/*.AssemblyInfoInputs.cache

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# Rider IDE
.idea/

# Logs
*.log

# Secrets
secrets.json